In [ ]:
import pandas as pd
import sys
import os

sys.path.append(os.path.abspath(os.path.join('..')))

from src.utils import load_data, clean_dataset, process_budget_revenue, feature_engineering_pipeline

data_path = '../data/original/TMDB_all_movies.csv' 
df = load_data(data_path)

print(f"Rows: {df.shape[0]}")

df = clean_dataset(df)

print(f"Rows after filtering: {df.shape[0]}")

df = process_budget_revenue(df)

df = feature_engineering_pipeline(df)

output_path = '../data/cleaned/TMDB_all_movies_cleaned.csv'

df.to_csv(output_path, index=False)

df.head(1)

Rows: 1135258
Rows after filtering: 54092

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,original_language,...,director_of_photography,writers,producers,music_composer,imdb_rating,imdb_votes,cast_size,top_cast,release_year,release_month
0,2,Ariel,7.1,356.0,Released,1988-10-21,NaN,73.0,NaN,fi,...,Timo Salminen,[Aki Kaurismäki],Aki Kaurismäki,NaN,7.4,9493.0,39,"[Susanna Haavisto, Pentti Auer, Olli Varja]",1988.0,10.0
1,3,Shadows in Paradise,7.3,426.0,Released,1986-10-17,NaN,74.0,NaN,fi,...,Timo Salminen,[Aki Kaurismäki],Mika Kaurismäki,NaN,7.4,8339.0,33,"[Helmeri Pellonpää, Ulla Kuosmanen, Marina Mar...",1986.0,10.0
2,5,Four Rooms,5.9,2753.0,Released,1995-12-09,4257354.0,98.0,4000000.0,en,...,"Phil Parmet, Guillermo Navarro, Rodrigo García...","[Alexandre Rockwell, Allison Anders, Quentin T...","Alexandre Rockwell, Quentin Tarantino, Lawrenc...",Combustible Edison,6.7,115619.0,28,"[Patricia Vonne, Kimberly Blair, Salma Hayek P...",1995.0,12.0